html {
  font-size: 72.5%;
  box-sizing: border-box;
}
.track {
  width: 80rem;
  height: 10rem;
  background-color: #999;
  position: relative;
  margin: 5rem auto;
  /* overflow-x: hidden; */
  background-image: url(pictures/race-track.jpg);
  background-size: 80rem;
  height: 20rem;
}

.car {
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: -5rem;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.car1 {
  display: block;
  top: -2rem;
  /* animation-name: race1; */
}

.car2 {
  display: block;
  top: 8rem;
  /* animation-name: race2; */
}

@keyframes race1 {
  0% {
    left: -5rem;
  }
  100% {
    left: 85%;
  }
}

@keyframes race2 {
  0% {
    left: -5rem;
  }
  100% {
    left: 85%;
  }
}

.input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.89rem;
}

input[type="number"] {
  width: auto;
  border-radius: 0.7rem;
  border-color: gray;
  align-items: center;
  padding: 0.6rem;
}

#result {
  text-align: center;
  margin-top: 5rem;
  font-size: 3.2rem;
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: solid;
}

#submit-button {
  font-size: 1.6rem;
  padding: 0.5rem;
  color: white;
  background-color: gray;
  border-radius: 0.5rem;
}

#reset-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background-color: indianred;
  border-radius: 0.5rem;
}

#mode-button {
  position: absolute;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background-color: rgb(25, 150, 150);
  border-radius: 0.5rem;
  top: 25rem;
  right: 42.5rem;
}
/* body {
  background-image: url(car-background.jpeg);
} */

html {
  background: url(pictures/car-background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #081b29;
}
.car-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.dropdown {
  position: relative;
  min-width: 15rem;
  margin: 2rem;
}

.select {
  background: #081b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #081b29 solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px rgb(25, 150, 150) solid;
  box-shadow: 0 0 0.8rem rgb(25, 150, 150);
}

.select:hover {
  background: #33383c;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  list-style: none;
  padding: 0.2rem 0.5rem;
  background: #33383c;
  border: 1px #33383c solid;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #dedddd;
  top: 3rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.5rem 0.3rem;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.menu li:hover {
  background: #52575b;
}

.active {
  background: #1b1c1d;
}

.menu-open {
  display: block;
  opacity: 1;
}
