html {
  font-size: 72.5%;
  box-sizing: border-box;
}
.track {
  width: 80rem;
  height: 10rem;
  background-color: #999;
  position: relative;
  margin: 5rem auto;
  /* overflow-x: hidden; */
  background-image: url(pictures/race-track.jpg);
  background-size: 80rem;
  height: 20rem;
}

.car {
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: -5rem;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.car1 {
  display: block;
  top: -2rem;
  /* animation-name: race1; */
}

.car2 {
  display: block;
  top: 8rem;
  /* animation-name: race2; */
}

@keyframes race1 {
  0% {
    left: -5rem;
  }
  100% {
    left: 85%;
  }
}

@keyframes race2 {
  0% {
    left: -5rem;
  }
  100% {
    left: 85%;
  }
}

.input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.8rem;
}

input[type="number"] {
  width: auto;
  border-radius: 0.7rem;
  border-color: gray;
  align-items: center;
  padding: 0.5rem;
}

#result {
  text-align: center;
  margin-top: 5rem;
  font-size: 3.2rem;
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: solid;
}

#submit-button {
  font-size: 1.6rem;
  padding: 0.5rem;
  color: white;
  background-color: gray;
  border-radius: 0.5rem;
}

#reset-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background-color: indianred;
  border-radius: 0.5rem;
}

/* #mode-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background-color: rgb(25, 150, 150);
  border-radius: 0.5rem;
} */
/* body {
  background-image: url(car-background.jpeg);
} */

html {
  background: url(pictures/car-background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #081b29;
}
.car-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.dropdown {
  min-width: 15rem;
  position: relative;
  margin: 2rem;
}

.select {
  background: #081b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px red solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
